[Desktop Entry]
Type=Application
Name=Custom TXT Search
Exec=sh -c 'true'
Comment=Search URLs from custom txt files
OnlyShowIn=GNOME;

DBusActivatable=true
X-GNOME-Gettext-Domain=gnome-shell-extensions
X-GNOME-UsesNotifications=false

Categories=GNOME;Utility;Search;
